.project-nav {
    display: flex;
    justify-content: flex-start;
    margin: 0 70px 25px;
}

.project-nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 36px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}

.project-nav__text {
    padding: 10px 20px;
}

@media screen and (max-width: 786px) {
    .project-nav {
        justify-content: center;
        margin: 0 70px 0;
    }
}
