.movies-card {
    margin: 0;
    padding: 0;
    max-width: 100%;
    border-radius: 6px;
    background-color: #222;
    overflow: hidden;
}

.movies-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px 12px 10px;
}

.movies-card__name-film {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
}

.movies-card__img {
    height: 200px;
}

.movies-card__trailer-link:hover {
    opacity: 1;
}

.movies-card__like {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    background-image: url(../../../images/icon-like.svg);
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.movies-card__like_active {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    background-image: url(../../../images/icon-like-activ.svg);
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.movies-card__delete {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    background-image: url(../../../images/delete.svg);
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.movies-card__film-duration {
    margin: 0 16px 0;
    padding: 0 0 16px;
    font-weight: 400;
    font-size: 11px;
    color: #8b8b8b;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .movies-card {
        width: 339px;
    }

    .movies-card__img {
        height: 180px;
        width: 100%;
    }

    .movies-card__info {
        display: flex;
        justify-content: space-between;
        margin: 14px 14px 15px;
    }
}

@media screen and (max-width: 600px) {
    .movies-card {
        width: 300px;
    }

    .movies-card__img {
        height: 168px;
    }

    .movies-card__info {
        margin: 14px 10px 14px 14px;
    }

    .movies-card__film-duration {
        margin: 0 14px 0;
        padding: 0 0 14px;
        font-size: 10px;
    }
}