.promo {
    max-width: 100%;
    min-height: 574px;
    background-color: #073042;
}

.promo_content {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.promo__container {
    max-width: 100%;
    padding: 75px 70px 0px;
    display: grid;
    grid-template-columns: minmax(200px, 640px) 1fr;
    column-gap: 190px;
    row-gap: 36px;
    margin-bottom: 84px;
}

.promo__title {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    max-width: 730px;
    text-align: left;
    letter-spacing: -0.04em;
}

.promo_text {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    max-width: 310px;
    text-align: left;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.promo_logo {
    margin: 0;
    max-width: 310px;
    justify-self: end;
    grid-row: 1/4;
    grid-column: 2/3;
}

@media screen and (max-width: 786px) {
    .promo {
        min-height: 834px;
    }

    .promo__title {
        font-size: 40px;
        line-height: 52px;
        max-width: 680px;
        text-align: center;
    }

    .promo__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 140px 0 0;
    }

    .promo_text {
        max-width: 260px;
        text-align: center;
    }

    .promo_content {
        border-top: none;
        border-bottom: none;
    }
}

@media screen and (max-width: 430px) {
    .promo {
        min-height: 586px;
    }

    .promo__container {
        padding: 70px 0 0;
    }

    .promo__title {
        font-size: 30px;
        line-height: 38px;
        max-width: 300px;
    }

    .promo_logo {
        max-width: 210px;
    }
}