.search-form {
    margin: 70px 70px 0;
    padding: 0 0 48px;
}

.search-form__form {
    max-width: 1140px;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #424242;
}

.search-form__input {
    width: 100%;
    background: transparent;
    border: none;
    color: #8b8b8b;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
}

.search-form__button-text {
    background-color: #4285f4;
    color: #fff;
    width: 58.65px;
    height: 34px;
    margin-left: 22px;
    border-radius: 48px;
    border: none;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    padding: 8px 10.35px;
    cursor: pointer;
}

.search-form__button-text:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 0.8;
}

.search-form__switch {
    display: flex;
    align-items: center;
    margin: 33px 0 0;
    position: relative;
}

.search-form__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.search-form__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    position: relative;
}

.search-form__checkbox+label::before {
    width: 36px;
    height: 20px;
    margin: 0 14px 0 0;
    content: "";
    cursor: pointer;
    background-color: #3ddc84;
    border-radius: 20px;
}

.search-form__checkbox+label::after {
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    content: "";
    left: 3px;
    width: 14px;
    height: 14px;
    transition: 0.2s;
    position: absolute;
}

.search-form__checkbox:checked+label::after {
    transition: 0.2s;
    left: 20px;
}

.search-form__switch-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

@media screen and (max-width: 768px) {
    .search-form {
        margin: 80px 30px 0px;
        padding: 0 0 60px;
    }

    .search-form__switch {
        flex-direction: row-reverse;
    }

    .search-form__checkbox+label::before {
        margin: 0 0 0 16px;
    }

    .search-form__checkbox+label::after {
        left: 20px;
    }

    .search-form__checkbox:checked+label::after {
        left: 35px;
    }
}

@media screen and (max-width: 600px) {
    .search-form {
        margin: 80px 10px 0px;
        padding: 0 0 50px;
    }

    .search-form__icon {
        display: none;
    }

    .search-form__button-text {
        margin: 0;
    }

    .search-form__switch {
        justify-content: center;
    }

    .search-form__switch::after {
        content: none;
    }

    .search-form__input {
        font-size: 18px;
        line-height: 22px;
    }

    .search-form__switch-text {
        font-size: 11px;
    }
}