@import url(./vendor/fonts/fonts.css);

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  color: #FFF;
  background-color: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.7;
}
