.about-me {
    padding: 110px 70px 125px;
}

.about-me__title {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 23px;
    border-bottom: 1px solid #dadada;
    text-align: left;
}

.about-me__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px 50px;
    margin-top: 66px;
}

.about-me__name {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: left;
}

.about-me__profession {
    margin: 18px auto 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
}

.about-me__text {
    margin: 26px 0 99px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    max-width: 600px;
    text-align: left;
}

.about-me__link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
}

.about-me__photo {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .about-me {
        padding: 90px 50px 90px;
    }

    .about-me__name {
        font-size: 40px;
        line-height: 40px;
    }

    .about-me__profession {
        margin: 16px auto 0;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__text {
        margin: 20px 0 87px;
        font-size: 12px;
        line-height: 18px;
        max-width: 364px;
    }

    .about-me__photo {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 600px) {
    .about-me {
        padding: 70px 14px 70px;
    }

    .about-me__title {
        font-size: 18px;
        padding-bottom: 28px;
    }

    .about-me__wrapper {
        flex-direction: column-reverse;
    }

    .about-me__name {
        font-size: 30px;
    }

    .about-me__profession {
        margin: 20px auto 0;
        font-size: 11px;
    }

    .about-me__text {
        margin: 20px 0 40px;
        font-size: 11px;
        line-height: 16px;
        max-width: 572px;
    }

    .about-me__photo {
        width: 292px;
        height: 352px;
    }
}